@model UmbracoTest.Models.ContactFormViewModel

@using (Html.BeginUmbracoForm("Submit", "ContactForm"))
{
    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.TextAreaFor(m => m.Message)
    </div>
    <input type="submit" name="Submit" value="Submit" />
}
